@model Tanitim.Models.Personel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h3>Silinecek Verileri Bilgileri</h3>
<hr />
<h5>Kişin Numarası @Model.PersId</h5>
<h5>Kişin Numarası @Model.Ad</h5>
<h5>Kişin Numarası @Model.Maas</h5>
<a href="" class="btn btn-primary">Sil</a>
<a href="" class="btn btn-warning">İptal</a>

